<!-- myproject/templates/base_generic.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Seat Booking System{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Seat Bookinfs</h1>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Log out</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Log in</a></li>
                    <li><a href="{% url 'signup' %}">Sign up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>
